* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* styles for mobile */

body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
}
.bg {
  width: 100%;
  height: 400px;
  background-image: url(../images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: -1;
}
.circle-pattern {
  width: 146px;
  height: 146px;
  position: absolute;
  top: 58px;
}
h1 {
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  color: #293356;
  width: 312px;
  margin: 88px 0 8px 0;
  z-index: 1;
}
.sing-up {
  font-size: 13px;
  line-height: 22px;
  font-weight: 600;
  color: #848ead;
  width: 190px;
  text-align: center;
  z-index: 1;
}
.main-container {
  width: 328px;
  height: 478px;
  background: #ffffff;
  box-shadow: 0px 20px 30px -5px rgba(127, 137, 185, 0.152073);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 234px;
}
h2 {
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #848ead;
  margin: 34px 0 40px 0;
}
.slidecontainer {
  width: 280px;
  position: relative;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: #ecf0fb;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: relative;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #10d8c4;
  box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
  cursor: pointer;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;
}
.green-line {
  width: 50%;
  height: 8px;
  background: #a4f3eb;
  border-radius: 5px;
  position: absolute;
  top: 6px;
  z-index: 1;
}
.price-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 40px 0 34px 0;
}
.price {
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: -0.8px;
  color: #293356;
}
.month {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #848ead;
}
.biling {
  width: 260px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 34px;
}
.biling p {
  font-size: 12px;
  font-weight: 16px;
  line-height: 16px;
  color: #848ead;
}
.click {
  width: 43px;
  height: 22px;
  background: #cfd8ef;
  border-radius: 15px;
  border: none;
  padding-left: 5px;
  cursor: pointer;
}
.active {
  background: #7aeadf;
  padding-left: 22px;
}
.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ffffff;
}
.sale {
  width: 40px;
  height: 19px;
  background: #feede8;
  border-radius: 9.5px;
  border: none;
  font-size: 10px;
  font-weight: 800;
  color: #ff8d68;
  margin-left: -6px;
}
.line {
  width: 100%;
  height: 1px;
  background: #ecf0fb;
  margin: 38px 0 24px 0;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.check {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;
}
.check p {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #848ead;
}
.trail {
  width: 170px;
  height: 40px;
  background: #293356;
  border-radius: 20.5px;
  border: none;
  font-size: 12px;
  font-weight: 800;
  color: #becdff;
  margin-top: 22px;
}
.trail:hover {
  color: #ffffff;
  transition: 0.2s;
}

/* styles for desktop */

@media only screen and (min-width: 1440px) {
  .bg {
    height: 450px;
  }
  .circle-pattern {
    top: 68px;
  }
  h1 {
    font-size: 28px;
    line-height: 38px;
    width: 440px;
    margin: 104px 0 12px 0;
  }
  .sing-up {
    font-size: 15px;
    line-height: 20px;
    width: 400px;
  }
  .main-container {
    width: 580px;
    height: 398px;
    margin-top: 266px;
    align-items: flex-start;
    padding-left: 46px;
    position: relative;
  }
  h2 {
    font-size: 14px;
    margin: 58px 0 58px 0;
  }
  .price-section {
    position: absolute;
    top: 0px;
    right: 48px;
  }
  .slidecontainer {
    width: 444px;
  }
  .biling {
    margin: 54px 0 0 120px;
  }
  .line {
    width: 580px;
    margin-left: -46px;
  }
  .footer {
    width: 100%;
    align-items: flex-start;
    position: relative;
  }
  .trail {
    position: absolute;
    bottom: 28px;
    right: 44px;
    cursor: pointer;
  }
}
